body {
  margin: 0;
  padding: 0;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loginPage {
  display: flex;
  background: #fff;
}

#loginNameInput {
  border: px solid #000;
  background: #ccc;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  max-width: 400px;
}

#chatPage {
  display: none;
}

.chatArea {
  flex: 1;
  width: 100%;
  display: flex;
  background: #ccc;
}

.chatList {
  flex: 1;
  background: fff;

}

.userList {
  width: 200px;
  background: #ccc;
}

.chatInput {
  width: 100%;
  display: flex;
}

#chatTextInput {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  background: #ccc;
  outline: none;
  border: none;
}